
# CI for product-catalog-service-1

name: CI for product-catalog-service

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: setup Go 1.22
      uses: actions/setup-go@v4
      with:
        go-version: 1.22

    - name: Build
      run: |
        cd src/product-catalog
        go mod download
        go build -o product-catalog-service main.go

    - name: Run tests
      run: |
        cd src/product-catalog
        go test ./... 
    
  code-quality:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run GolangCI-Lint
      uses: golangci/golangci-lint-action@v3
      with:
            version: latest
            working-directory: src/product-catalog
            args: ./...
      
  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: instal docker
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v6
      with:
        context: src/product-catalog
        file: src/product-catalog/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/product-catalog:${{ github.run_id }}

  update-deployment-manifest:
    runs-on: ubuntu-latest
    needs: docker
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN}}

    - name: Update tag in deployment manifest
      run: |
        sed -i "s|image: .*|image: ${{ secrets.DOCKERHUB_USERNAME }}/product-catalog:${{ github.run_id }}|" kubernetes/productcatalog/deploy.yaml
    - name: Commit and Push changes
      run: |
        git config --global user.name "dolapo-fad"
        git config --global user.email "dolapofadipe95@gmail.com"
        git add kubernetes/productcatalog/deploy.yaml
        git commit -m "[CI]: Update product-catalog image tag"
        git push 

